/* Center the Monster Hunter video on the page */
#mh-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}

/* Video Wrapper */
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px; /* Limit max width for responsiveness */
}

    /* Responsive YouTube Embed */
    .video-wrapper iframe {
        width: 100%;
        max-width: 660px; /* Keep the video at an optimal size */
        height: 315px;
        
    }
