/* Global styles */

body {
    background-image: url("../images/animal crossing wild world.jpg");
    background-repeat: repeat;
    overflow-x: hidden;
    font-family: 'Lucida Bright';
    color: #0ff;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* global header */
header {
    color: white;
    padding: 30px;
    letter-spacing: 3px;
    width: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    align-content: center;
    text-shadow: 2px 2px 4px black;
}

/* Left Navigation pane */
nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 120%;
    width: 100px;
    background-color: #d4d8d9;
    opacity: 0.6;
    padding-top: 20px;
}

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul li {
            margin: 20px 0;
        }

    nav a {
        color: black;
        font-weight: bold;
        text-shadow: 1px 1px 2px grey;
        font-size: 14px;
        display: block;
        padding: 10px;
        transition: 0.3s;
    }

